/*Willy Banff: barra principal START*/
html body .barra-principal {
  background: #425363; /*PANTONE 1545 C*/
  box-shadow: 0 18px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  height: 45px;
  position: fixed;
  justify-content: center;
  left: 0;
  z-index: 9999;
  top: -100%;
}

html body .barra-principal .gkMenu > ul li div.childcontent {
  background-color: #425363;
  top: 50px;
}

html body .barra-principal .gkMenu > ul > li > a {
  line-height: 15px;
  font-size: 12px;
}

html body .barra-principal .gkMenu > ul li div.childcontent a {
  color: #fff;
}

html body .barra-principal ul li a {
  color: #fff;
}

html body .barra-principal ul li a:hover {
  color: #ff8300;
}

html body .barra-principal .gkMenu .haschild:hover > a,
.gkMenu li.haschild.active:hover > a {
  color: #ff8300;
}

html body .barra-principal .gkMenu > ul li div.childcontent li:hover > a,
.gkMenu > ul li div.childcontent li:hover > a small {
  color: #ff8300;
}

html body .barra-principal .gkMenu > ul > li.active > a {
  color: #ff8300;
}

html body .barra-principal_visible {
  top: 0;
  transition: 0.3s;
}

/*Willy Banff: menu burguer*/
html body .burguer {
  color: #425363;
  background: none;
  font-size: 22px;
  padding: 0 16px;
  line-height: 55px;
  cursor: pointer;
  display: none;

  top: -8px;
  left: 0px;
  position: fixed;
  z-index: 9999;
}

html body .nav-menu {
  display: flex;
  list-style: none;
  z-index: 9999;
  display: none;
  overflow-x: hidden;
}

html body .nav-menu-item {
  font-size: 12px;
  margin: 0 8px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}

html body .nav-menu select {
  font-size: 12px;
  margin: 0 8px;
  text-transform: uppercase;
  background: transparent;
  background-color: #425363;
  border: none;
  outline: 0px;
  color: #fff;
}

html body .nav-menu select option {
  font-size: 10px;
  text-transform: uppercase;
}

html body .nav-menu-link {
  padding: 6px 8px;
  border-radius: 5px;
  color: #fff;
}

html body .nav-menu-link:hover {
  background-color: #ff8300;
  transition: 0.5s;
}

html body .barra-burguer {
  position: fixed;
  display: none;
  width: 100%;
  left: 0;
  top: -1;
  height: 41px;
  background-color: #425363;
  z-index: 9999;
}

html body .myfooter table tr td h3 {
  padding-top: 5%;
}

html body #gkFooter {
  background-color: #425363;
  opacity: 100%;
}

@media only screen and (max-width: 1024px) {
  /*Willy Banff: barra principal*/
  html body .barra-principal {
    display: none;
  }

  /*Willy Banff: menu burguer*/
  html body .barra-burguer {
    display: block;
    left: 100%;
    transition: 0.3s;
  }

  html body .burguerBlanco {
    color: #fff;
    transition: 0.3s;
  }

  html body .barra-burguer_visible {
    left: 0%;
  }

  html body .burguer {
    display: block;
  }

  html body .nav-menu {
    flex-direction: column;
    align-items: left;
    margin: 0px;
    background-color: #425363; /*Pantone 7545 gris*/
    position: fixed;
    top: 40px;
    max-width: 140px;
    height: 100%;
    display: block;

    height: calc(100%-60px);
    overflow-y: auto;

    left: -100%;
    transition: 0.3s;
  }

  html body .nav-menu_visible {
    left: 0%;
  }

  html body .nav-menu-item {
    line-height: 45px;
  }

  html body .nav-menu-link:hover {
    background: none;
    color: #ff8300;
  }
}
/*Willy Banff: barra principal END*/

/*Willy Banff: footer modificado START*/
html body footer {
  display: flex;
  width: 100%;
  min-width: 350px;
  background: #f5f5f7;
  height: auto;
  padding-top: 30px;
  color: var(--footer-directory-title-color);
}

html body footer .footer-content {
  display: flex;
  flex-direction: column;
}

html body footer .footer-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
  color: #425363;
}

html body footer .footer-content .footer-medio {
  display: flex;
  flex-direction: column;
}

html body footer .footer-content .footer-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

html body footer .footer-content .footer-info .quienes-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
html body footer .footer-content .footer-info .servicios-footer {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
html body footer .footer-content .footer-info .contacto-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

html body footer .footer-content .footer-info .servicios-footer a {
  display: flex;
  word-break: break-word;
  margin: 10px auto;
  padding-bottom: 10px;

  line-height: 15px;
  font-size: 12px;
  color: #6e6e73;
}

html body footer .footer-content .footer-info .servicios-footer a:hover {
  color: #ff8300;
  transition: 0.3s;
}

html body footer .footer-content .footer-info h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  padding-right: 50px;
  text-transform: capitalize;
  line-height: 2rem;
  color: #425363;
}

html body footer .footer-content .footer-info p {
  display: flex;
  word-break: break-word;
  margin: 10px auto;

  max-width: 500px;

  line-height: 15px;
  font-size: 12px;
  color: #6e6e73;
}

html body footer .footer-content .footer-medio .linea {
  word-break: break-word;
  height: 1px;
  width: 100%;
  background: #d2d2d7;
}

html body footer .footer-content .footer-info a {
  color: #ff8400;
  font-size: 12px;
  text-decoration: none;
}

html body footer .footer-content .footer-bottom {
  display: flex;
  background: #f5f5f7;
  width: 100%;
  text-align: left;
  padding-bottom: 15px;
}

html body footer .footer-content .footer-bottom p {
  float: left;
  font-size: 10px;
  word-spacing: 2px;
  text-transform: capitalize;
}
html body footer .footer-content .footer-bottom p a {
  color: #ff8300;
  font-size: 10px;
  text-decoration: none;
}
html body footer .footer-content .footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  html body footer .footer-content h1 {
    text-align: left;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 0px;
  }

  html body footer .footer-content .footer-medio .footer-info {
    flex-direction: column;
  }

  html body footer .footer-content .footer-medio {
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-top: 20px;
  }

  html
    body
    footer
    .footer-content
    .footer-medio
    .footer-info
    .servicios-footer {
    padding: 0;
  }

  html body footer .footer-content .footer-medio .footer-info .quienes-footer {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  html body footer .footer-content .footer-bottom {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  html body footer .footer-content {
    padding-left: 130px;
    padding-right: 130px;
  }
}
/*Willy Banff: footer modificado END*/
